.icons-sprite, .icons-atx-series, .icons-crave, .icons-cruiser-alloy, .icons-delivery, .icons-gear, .icons-hover-plus, .icons-logotype, .icons-moto-metal, .icons-params, .icons-rbp-wheels, .icons-setting {
  background-image: url('../img/icons-sa963e9ce85.png');
  background-repeat: no-repeat;
}

.icons-atx-series {
  background-position: 0 0;
  height: 62px;
  width: 143px;
}

.icons-crave {
  background-position: 0 -62px;
  height: 64px;
  width: 184px;
}

.icons-cruiser-alloy {
  background-position: 0 -126px;
  height: 62px;
  width: 143px;
}

.icons-delivery {
  background-position: 0 -188px;
  height: 26px;
  width: 32px;
}

.icons-gear {
  background-position: 0 -214px;
  height: 62px;
  width: 143px;
}

.icons-hover-plus {
  background-position: 0 -276px;
  height: 35px;
  width: 35px;
}

.icons-logotype {
  background-position: 0 -311px;
  height: 36px;
  width: 36px;
}

.icons-moto-metal {
  background-position: 0 -347px;
  height: 62px;
  width: 143px;
}

.icons-params {
  background-position: 0 -409px;
  height: 32px;
  width: 32px;
}

.icons-rbp-wheels {
  background-position: 0 -441px;
  height: 62px;
  width: 143px;
}

.icons-setting {
  background-position: 0 -503px;
  height: 32px;
  width: 32px;
}

