@import "_reset";
@import "_animate";
@charset "UTF-8";

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url(../../fonts/RobotoLight.woff2) format("woff2"), url(../../fonts/RobotoLight.woff);
}
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	src: local("Montserrat-Bold"), local("MontserratBold"), url(../../fonts/Montserrat-Bold.woff2) format("woff2"), url(../../fonts/Montserrat-Bold.woff);
}
@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	src: local("Montserrat-Regular"), local("MontserratRegular"), url(../../fonts/Montserrat-Regular.woff2) format("woff2"), url(../../fonts/Montserrat-Regular.woff);
}
body {
	background-color: #fff;
	font: 300 14px "Roboto";
	color: #8f8f8f;
	line-height: 20px;
}
a {
	color: #8f8f8f;
	text-decoration: none;

	&:hover {
		color: #333333;
	}
}
.wrapper {
	width: 940px;
	margin: 0 auto;
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.header {
	background: #1a1915 url(../img/header-bg.jpg) no-repeat center;
	background-size: cover;
	height: 700px;
	color: #fff;

	&-top {
		height: 36px;
		position: relative;
		top: 38px;

		&__logo, &__login {
			color: #fff;
			display: inline-block;
		}
		&__logo {
			font: bold 20px/36px "Montserrat";
			float: left;

			&:active {
				color: #1a1915;
			}
		}
		&__login {
			height: 36px;
			float: right;
			font: bold 14px/36px "Montserrat";

			&:active {
				color: #1a1915;
			}
			&--signup {
				width: 90px;
				height: 36px;
				border: solid 2px #fff;
				border-radius: 18px;
				background-color: transparent;
				box-sizing: border-box;
				text-align: center;
				margin-left: 20px;
				line-height: 32px;
			}
		}
	}
}
.header-middle {
	text-align: center;
	margin-top: 179px;

	&__h1 {
		width: 500px;
		font: bold 52px/64px "Montserrat";
		text-transform: uppercase;
		margin: 0;
		display: inline-block;
	}
	&__h2 {
		font: 300 24px/36px "Roboto";
		margin: 16px 0 30px;
	}
	&__btn {
		width: 225px;
		height: 40px;
		color: #fff;
		display: inline-block;
		border-radius: 20px;
		background-color: #ff4e50;
		font: bold 14px/40px "Montserrat";
	}
}


.worksteps, .partners, .ideas {
	padding-top: 95px;
}
.search {
	padding-top: 76px;
}
.section-header {
	color: #1a1915;
	margin: 0 0 32px 0;
	font: bold 22px "Montserrat";
	text-align: center;
}
.jcarousel {
	width: 300px;
	height: 400px;
	float: left;
	border-radius: 4px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;

	ul {
		width: 20000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		float: left;
	}
	&:last-child {
		margin-right: 0;
	}
}
.step-box {
	width: 300px;
	height: 400px;  
	margin-right: 5px;
	border-radius: 4px;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	background-position: center;  
}
.step1 {
	background-image: url(../img/step1.jpg);
}
.step2 {
	background-image: url(../img/step2.jpg);
}
.step3 {
	background-image: url(../img/step3.jpg);
}
.arrows__left, .arrows__right {
	position: absolute;
	top: 153px;
	width: 30px;
	height: 55px;
	display: block;
	cursor: pointer;
}
.arrows__left:hover, .arrows__right:hover {
	opacity: 0.8;
}
.arrows__left:active, .arrows__right:active {
	opacity: 1;
}
.arrows__left, .arrows__right {
	background: url(../img/sprite.png);
}
.arrows__left {
	background-position: 0 68px;
	left: 20px;  /* float: left;*/
}
.arrows__right {
	background-position: 31px 68px;
	right: 20px;  /*float: right;*/
}
.step-box__count {
	width: 70px;
	height: 20px;
	border-radius: 10px;
	background-color: #ff4e50;
	font: 10px/21px "Montserrat";
	text-transform: uppercase;  /*cursor: default;*/
	box-sizing: border-box;
	padding: 0 14px;
	margin-bottom: 17px;
	text-align: center;
	letter-spacing: 1px;
}
.step-box__info {
	height: 386px;
	display: table-cell;
	vertical-align: bottom;
}
.step-box__title {
	font: bold 24px/27px "Montserrat";
}
.step-box__desription {
	color: #acaaa8;
	display: block;
	line-height: 17px;
	margin-top: 10px;
}
.partners-block {
	overflow: hidden;
	margin-bottom: 35px;
}
.partners-box {
	width: 220px;
	float: left;
	text-align: center;
	margin-right: 20px;
	position: relative;

	&:last-child {
		margin-right: 0;
	}
}
.partners-box__img {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background-color: #1a1915;
	display: inline-block;
}
.partners-box__circle {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: solid 4px #fff;
	position: absolute;
	top: 85px;
	right: 46px;
	box-sizing: border-box;
	padding: 7px 7px 7px 8px;
}
.red {
	background-color: #ff4e50;
}
.green {
	background-color: #1cd7ad;
}
.yellow {
	background-color: #ffa507;
}
.blue {
	background-color: #4e73db;
	padding-left: 7px;
}
.partners-box__icon {
	width: 16px;
	height: 16px;
	background: url(../img/sprite.png) no-repeat;
}
.tv {
	background-position: 0 0;
}
.cup {
	background-position: 0 -17px;
}
.bulb {
	background-position: 1px -32px;
	height: 18px;
}
.plane {
	background-position: -1px -49px;
	width: 18px;
	height: 17px;
}
.partners-box__title {
	font: bold 14px "Montserrat";
	display: block;
	color: #333333;
	margin-top: 14px;
	margin-bottom: 13px;
}
.partners-box__description {
	display: inline-block;
	line-height: 16px;
}
.partners__btn {
	width: 192px;
	height: 40px;
	border-radius: 20px;
	background-color: #fff;
	border: 2px solid #ff4e50;
	font: bold 14px/36px "Montserrat";
	color: #ff4e50;
	display: block;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;

	&:active {
		color: #ff4e50;
	}
}
.grid-item {

	
	height: 310px;
	width: 300px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font: bold 22px "Montserrat";
	color: #fff;  
	text-align: center;
	margin-bottom: 20px;  
}
.grid-item--width2 {
	width: 620px;  
}

.grid-item__text {
	width: inherit;
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
}
.search {
	text-align: center;
}
.search__text {
	font-size: 18px;
	color: #333333;
	margin-bottom: 40px;
}
.search__form {
	display: inline-block;
}
.search__input {
	width: 240px;
	height: 40px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px #eee;
	border: solid 1px #ccc;
	padding: 0 15px;
	box-sizing: border-box;
	margin-right: 7px;
}
.search__btn {
	width: 160px;
	height: 40px;
	border-radius: 20px;
	background-color: #ff4e50;
	color: #fff;
	font: bold 14px "Montserrat";
	padding: 0;
	outline: none;
	border: none;

	&:hover {
		color: #333333;
	}
}


.footer {
	margin-top: 100px;
	border-top: 4px solid #ff4e50;
	padding: 36px 0 33px;
}
.collum {
	float: left;
	width: 80px;
	margin-right: 80px;
}
.collum--big {
	width: 140px;
	margin-right: 100px;
}
.collum__sitelogo {
	color: #ff4e50;
	font: bold 16px "Montserrat";
}
.collum__title, .collum__link, .collum__img {
	display: block;
}
.collum__title {
	margin-bottom: 10px;
	color: #333333;
	font: bold 14px "Montserrat";
}
.collum__link {
	color: #666666;
	margin-bottom: 4px;
}
.collum--copyright {
	width: 140px;
	float: right;
	text-align: right;
	position: relative;
	top: -6px;
	margin-right: 0;
}
.collum__text {
	color: #cccccc;
	font: bold 10px "Montserrat";
	text-transform: uppercase;
}
.collum__img {
	background: url(../img/copyright.png);
	width: 110px;
	height: 24px;
	float: right;
	margin-top: 7px;
	-webkit-transition: background-position 0.2s ease-in;
	transition: background-position 0.2s ease-in;

	&:active {
		opacity: 0.5;
	}
}


@media only screen and (max-width:939px) {
	.wrapper {
		width: 748px;
	}
	.wrapper--header {
		padding: 0 40px;
	}
	.wrapper--footer {
		padding: 0 30px;
	}
	.jcarousel, .step-box {
		width: 236px;
	}
	.arrows__left, .arrows__right {
		top: 40px;
	}

	
	.step-box__info {
		height: 382px;
	}
	.partners-block {
		text-align: center;
		margin-bottom: -20px;
	}
	.partners-box {
		display: inline-block;
		vertical-align: top;
		float: none;
		margin: 0 20px 55px 20px;
	}
	.grid-item {
		width: 236px;
	}
	.grid-item--width2 {
		width: 492px;
	}

	.collum--big {
		margin-right: 84px;
	}
}


@media only screen and (max-width:747px) {
	.wrapper {
		width: 300px;
	}
	.header {
		height: 540px;
	}
	.wrapper--header {
		padding: 0 10px;
	}
	.header-top {
		text-align: center;
		top: 30px;
	}
	.header-top__logo {
		position: absolute;
		top: 139px;
	}
	.header-top__login {
		float: none;
	}
	.header-middle {
		margin-top: 190px;
	}
	.header-middle__btn, .partners__btn, .search__btn, .search__input {
		width: 280px;
	}
	.header-middle__h1 {
		font-size: 30px;
		line-height: 36px;
		width: 282px;
	}
	.header-middle__h2 {
		font-size: 18px;
		line-height: 22px;
		margin-top: 8px;
		margin-bottom: 15px;
	}
	.header-top__login {
		position: relative;
		left: -113px;
	}
	.header-top__login--signup {
		left: 46px;
	}
	.worksteps, .partners, .ideas, .search {
		padding-top: 33px;
	}
	.section-header {
		margin-bottom: 15px;
	}
	.jcarousel {
		width: 300px;
		height: 240px;
		margin-bottom: 10px;
		margin-right: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.step-box {
		width: 300px;
		height: 240px;    
	}

	.arrows__left, .arrows__right {
		width: 150px;
		height: 240px;    /*top: -40px;*/
		top: 0;
		background-image: none;
	}
	.arrows__left:active, .arrows__right:active {
		background-color: #acaaa8;
		opacity: 0.3;
	}
	.arrows__left {
		left: 0;
	}
	.arrows__right {
		right: 0;
	}
	.step-box__info {
		height: 225px;
	}
	.partners-block {
		margin-bottom: 3px;
	}
	.partners-box {
		margin-bottom: 23px;
	}
	.grid-item {
		width: 300px;
		height: 120px;
	}

	.search__text {
		margin: 12px 0 15px;
	}
	.search__input {
		margin-right: 0;
	}
	.search__btn {
		margin-top: 10px;
	}
	.footer {
		margin-top: 40px;
		padding-top: 16px;
		text-align: center;
		padding: 16px 0;
	}
	.collum {
		width: 240px;
		float: none;
		margin-right: 0;
		margin-bottom: 5px;
		display: inline-block;
	}
	.collum--big {
		margin-bottom: 10px;
	}
	.collum__link, .collum__img {
		display: inline-block;
	}
	.collum--copyright {
		display: inline-block;
		float: none;
		text-align: center;
		margin-top: 10px;
	}
	.collum__text {
		display: block;
	}
	.collum__img {
		float: none;
	}
	.collum__title {
		margin-bottom: 0;
	}
	.collum__link {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}
	}
}