body {
	background: #eeeeee;
	
 }
 .box {
 	width: 514px ;
 	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.41);
    background: white;
    margin: 5px auto;
    padding-top: 50px;
    border-radius: 3px;
}
 .text {
 	padding-left: 60px;
 	padding-right: 60px;
 	font-size: 20px;
 }
 .name {
 	font-size: 25px;
 	text-align: center;
 	margin: 0px 0px 0px 0px;
 }
 .photo {
 	width: 130px;
 	height: 135px;
  	margin: 21px auto 15px; 
  	display: block;
  	border-radius: 15px; 	
 }
 
 .about {
padding: 0px 0px 20px 14px;
border-bottom: 2px solid #7a7a7a;
margin: 0px;
 }
 .container {
   	padding: 30px 0px 20px 14px;
 	border-bottom: 2px solid #7a7a7a; 
 }
 .list {
 	margin: 25px 0px 0px 0px; 
 }
 .indent{
 	margin: 0px 0px 5px 0px;
 }
 .site{
 	margin: 30px 0px 0px 0px;
 }
 .Feedback{
 	padding: 30px 0px 70px 14px;
 }
