
table {
	border-collapse: collapse;
	margin: auto;
	border: 11px solid white;
	
}	

tr, td {
	
	border: 10px solid #1b231e;
}

td{
	width: 48px;
	height: 48px;
}

.red {
	background: #ff563b;
}
.yellow {
	background: #fff66d;
}
.black {
	background: #3f3f3f;
}
.blue {
	background: #255e9f;
}

.w2 {
	width:96px; 
}
.w3	{
	width: 144px;
}
.w4 {
	width: 192px;
}
.w6 {
	width: 288px;
}

.h2 {
	height: 96px;
}
.h3 {
	height: 144px;
}
.h4 {
	height: 192px;
}



